/*
 * @Author: etongfu
 * @Email: 13583254085@163.com
 * @Version: 
 * @Date: 2019-07-04 17:12:48
 * @LastEditors: etongfu
 * @LastEditTime: 2019-07-04 17:28:42
 * @Description: 暂时不使用
 * @youWant: add you want info here
 */
// about color
$theme-color: #2979ff;
// height 
$header-height: 54px;
// side width
$side-width: 220px;